<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KickStarter Successful Rate Prediction</title>
    <style>
            h1{
                width:55%;
                border: 3px solid white;
                color: black;
                font-weight: bold;
                font-family: 'Arial';
                font-size: 44px;
                background-color: orange;
            }           
            .container {
                width: 52%;
                margin: 0 auto;
                padding: 20px;
                background: orange;
                text-align: center;
                display: inline-block;
            }
    </style>
</head>
<body>

    <center><h1>KickStarter Campaign Predictor</h1></center>
    <center><form method="POST" action="http://localhost:5000/prediction">   
        <div class="container">
            <label for="Name"> <strong>Name: </strong></label>
            <input type="text" name="Name" placeholder="Crowdfunding Campaign Name: "><br>
        </div>

        <div class="container">
            <label for="Goals"> <strong>Goals: </strong></label>
            <input type="number" name="Goals" placeholder="Input Expected Goals Number"><br>
        </div>

        <div class="container">
            <label for="Duration"> <strong>Duration: </strong></label>
            <input type="number" name="Duration" placeholder="Input Expected Number of Days of the Campaign"><br>
        </div>


        <div class="container">
            <label for="Month"> <strong>Month: </strong></label>
            <select name="Month">
                <option value="4">January</option>
                <option value="3">February</option>
                <option value="7">March</option>
                <option value="0">April</option>
                <option value="8">May</option>
                <option value="6">June</option>
                <option value="5">July</option>
                <option value="1">August</option>
                <option value="11">September</option>
                <option value="10">October</option>
                <option value="9">November</option>
                <option value="2">December</option>
                </select>
        </div>

        <div class="container">
            <label for="Country"> <strong>Country: </strong></label>
            <select name="Country">
                <option value="0">AT</option>
                <option value="1">AU</option>
                <option value="2">BE</option>
                <option value="3">CA</option>
                <option value="4">CH</option>
                <option value="5">DE</option>
                <option value="6">DK</option>
                <option value="7">ES</option>
                <option value="8">FR</option>
                <option value="9">GB</option>
                <option value="10">HK</option>
                <option value="11">IE</option>
                <option value="12">IT</option>
                <option value="13">JP</option>
                <option value="14">LU</option>
                <option value="15">MX</option>
                <option value="16">NL</option>
                <option value="17">NO</option>
                <option value = "18">NZ</option>
                <option value="19">SE</option>
                <option value="20">SG</option>
                <option value="21">US</option>
                </select>
        </div>
        
        
        <div class="container">
            <label for="Categories"> <strong>Categories: </strong></label>
            <select name="Categories">
                <option value="0">Art</option>
                <option value="1">Comics</option>
                <option value="2">Crafts</option>
                <option value="3">Dance</option>
                <option value="4">Design</option>
                <option value="5">Fashion</option>
                <option value="6">Film & Video</option>
                <option value="7">Food</option>
                <option value="8">Games</option>
                <option value="9">Journalism</option>
                <option value="10">Music</option>
                <option value="11">Photography</option>
                <option value="12">Publishing</option>
                <option value="13">Technology</option>
                <option value="14">Theater</option>
                </select>

                <br><br><br>

                <button type="submit" style="background-color:black; color: orange; width: 300px; font-size : 30px">PREDICT</button>
                
        </div>

        
        
    </form></center>
    
</body>
</html>